[user]
	name = Standa Opichal
	email = opichals@gmail.com
[includeIf "gitdir:~/Dev/"]
	path = ~/Dev/.gitconfig
[alias]
	hub = !hub
	co = checkout
	b = rev-parse --abbrev-ref HEAD
	prum = pull --rebase upstream master
	proh = pull --rebase origin HEAD
	ulog = log --oneline
	llog = log --graph --decorate --date=local --format='%Cgreen%h %Creset %ad %Cblue%aE %Cred%d %Creset%s' --abbrev-commit
	mylog = log --author=opichals
	unstage = reset HEAD --
[color]
	ui = auto
[core]
	pager = less -R
	excludesfile = ~/.gitignore_global
[rebase]
	autoSquash = true
[diff]
	compactionHeuristic = true
[init]
	templatedir = ~/.gittemplate
