[user]
	name = Standa Opichal
	email = opichals@gmail.com
[alias]
	co = checkout
	ulog = log --oneline
    llog = log --graph --decorate --format='%Cgreen%h %Cblue%aE %Cred%d %Creset%s' --abbrev-commit
	mylog = log --author=opichals
	unstage = reset HEAD --
[color]
	ui = auto
[core]
	pager = less -R
	excludesfile = ~/.gitignore_global
[rebase]
	autoSquash = true
[diff]
	compactionHeuristic = true
